@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .bg-dot-pattern {
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 20px 20px;
  }

  .glass-panel {
    @apply bg-white border border-gray-100 shadow-sm rounded-xl;
  }
}